
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body{
    overflow-x: hidden;
}

@media(max-width:768px){
    html{
        font-size: 55%;
    }
}
.sec-padding{
    padding: 5rem 0;
}
.btn-1{
    background-image: linear-gradient(#A4BC46, #85A019);
    color: white;
    text-decoration: none;
    font-size: 1.8rem;
    padding: 1.2rem 2rem;
    text-transform: uppercase;
    font-weight: 500;
}
h2{
   font-size: 2.4rem;
   color: #363958;
   text-transform: capitalize;
}

/* nav section */

.navbar-brand img{
    width: 29.1rem;
    height: 4rem;
}

.navbar ul li{
    margin-right: 2rem;
}
.navbar ul li a{
    font-size: 1.8rem;
    text-transform: capitalize;
}

/* header section */
.head-section{
    background-color: #D1E2E9;
    padding-top: 12rem;
    
}
.head-section .head-text{
    font-family: 'Bebas Neue', cursive;
    font-size: 8rem;
    color: #FABE4C;
}
.head-section .head-text span{
    color: #363958;
}

.head-section p{
    font-size: 1.8rem;
    color: #3E3E3E;
    font-weight: 400;
    width: 75%;

}


/* woman section */


.wo-se-title{
    color: #363958;
    font-family: 'Bebas Neue',cursive;
    font-size: 4.8rem;
    text-transform: uppercase;
    margin: 2.1rem 0;
}
.card{
    background-color: #fff;
    border: none;
}
.card-img{
    background-color: #f6f2f1;
    padding: 1rem;
    border-radius: 1rem;
}
.card-img img{
    width: 65%;
}
.card-title{
    font-size: 2.4rem;
    color: #363958;
    text-transform: capitalize;
}
p{
    font-size: 1.6rem;
    color: #3E3E3E;
}
.card .price span{
    font-size: 3.6rem;
    color: #FABE4C;
    font-weight: 500;
}


/* end section */
.img-end img{
    width: 7.8rem;
    height: 8.2rem;
}
.row-edit{
    width: 80%;
}

@media (max-width:1200px) {
    .row-edit{
        width: 96%;
        margin-left: .5rem;
    }
    
}

@media (max-width:578px) {
    html{
        font-size: 50%;
    }
    .row-edit {
        width: 96%;
        margin: 0 auto;
    }
    .end-section .col-md-3,
    .end-section .col-md-9{
        text-align: center;
    }

}